body {
    font-family: Copperplate Gothic;
  }

  .logo {
    width: 50%;
    height: auto;
  }

  header h1,
  header h2 {
    font-family: Copperplate Gothic;
    background-image: linear-gradient(to right, #000000, #780e7a);
    -webkit-background-clip: text;
    color: transparent;
  }

  nav {
    color: #780e7a;
  }

  .rounded-pill {
    background-image: linear-gradient(to right, #780e7a, #0d020d, #000000);
  }

  .btn-dark {
    background-image: linear-gradient(to right, #000000, #780e7a);
  }

  footer{
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
  }
